h2 {
  text-align: center;
}

.App {
  background-color: black;
  /* height: 100%; */
}


.main, #root {
  text-align: center;
  /* background-image: url("./images/Abstract-Background.png") */
  /* height: 100%; */
  margin: 0px;
}

#navbar-div {
  width: 100%;
  padding: 1vh;
  display: flex;
  position: fixed;
  top: 0;
  justify-content: space-around;
  background-color: #2a2a72;
  
  background-image: linear-gradient(315deg, #2a2a72 0%, #369eff 74%);
}

.navbar {
  /* border-right: 1px solid lightsalmon; */
  padding: 2px;
  margin: auto;
  /* background: lightsalmon; */
  /* border-radius: 25px; */
  text-decoration: none;
  color: white;
}

#navbar-email-link {
  text-decoration: none;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navbar-name {
  /* border: 1px solid magenta; */
  /* padding: 2px; */
  /* margin: auto; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* height: 2.5vh; */
  /* background: magenta; */
  /* border-radius: 25px; */
}

.navbar-span {
  padding-left: .5vh;
}

.navbar-active {
  color:black;
}

#footer-div {
  border-top: 1px solid black;
  padding: 1vh;
  display: flex;
  justify-content: space-around;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3vh;
  background-color: white;
}

.footer {
  margin: auto;
  padding: 2px;
  
  vertical-align: center;
  text-decoration: none;
}

.footer-img {
  height: 25px;
  
}

#footer-email {
  color: black;
  margin: auto;
  
}

.blog-container {
  display: grid;
  grid-template-columns: 25% 75%;
  
}

#sidebar-div {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  background: yellow;
  
  
  height: 100vh;
  /* position: fixed; */
  /* z-index: 1; */
  /* padding-top: 5vh; */
  /* top: 0; */
  /* left: 0; */
  /* overflow-x: hidden; */
  /* padding-top: 10px; */

}

.resume-container {
  -webkit-overflow-scrolling: touch;
  overflow: auto;
  /* display: flex;
  flex-direction: column; */
  /* margin: 5vh; */
  padding-top: 2.5vh;
  /* padding-bottom: 4vh; */
  background-color: black;
  /* padding: 10vh; */
  /* position: relative; */
  /* overflow: hidden; */
  /* width: 95%; */
  height: 100vh;
  
}

#resume {
  /* flex-grow: 1; */
  margin: 0;
  padding: 0;
  /* position: absolute; */
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.about-container {
  color: white;
  padding-top: 2.5vh;
  padding-bottom: 4vh;
}

.project-container {
  /* padding: 5vh; */
  padding-top: 3vh;
  padding-bottom: 4vh;
  text-align: left;
  /* background: white; */
  /* margin: 5vh; */
  /* height: 85vh; */
}

.card-div {
  box-shadow: 0 4px 8px 0 lightskyblue;
  text-align: center;
  padding: 2px;
  /* background-color: #ffb236; */
  background-color:  #369eff;
  margin: 1vh;
}

.card {
  
  display: block;


}

.card-img {
  /* width: 50vw; */
  height: 25vh;
  display: block;
  margin: auto;
}

.project-div {
  background: white;
  text-align: left;
  padding: 5vh;

}

#about-img {
  height: 25vh;
  border: 2px solid white;
  border-radius: 3%;
}

#about-div {
  background-color: #369eff;
  padding-bottom: 1vh;
}

.about-p {
  margin-left: 5vh;
  margin-right: 5vh;
  padding-bottom: .5vh;;
  text-align: justify;
}

#resume-link {
  border: 2px solid whitesmoke;
  border-radius: 3px;
  box-shadow: grey 0 2px 5px;
  color: black;
  background: whitesmoke;
  text-decoration: none;

}

.icon {
  height: 2.5vh;
  
}