.App {
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main {
  /* height: 100vmin; */
  text-align: center;
  /* background-image: url("./images/Abstract-Background.png") */
}

#navbar-div {
  border: 1px solid black;
  padding: 1vh;
  display: flex;
  justify-content: space-around;
  background-color: #2a2a72;
  background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
}

.navbar {
  border: 1px solid lightsalmon;
  padding: 2px;
  margin: auto;
  background: lightsalmon;
  border-radius: 25px;
  text-decoration: none;
  color: black;
}

.navbar-name {
  border: 1px solid magenta;
  padding: 2px;
  margin: auto;
  background: magenta;
  border-radius: 25px;
}

.navbar-active {
  background: yellow;
}

#sidebar-div {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  margin-left: 1vw;
  margin-top: 6vh;
  width: 9vw;
  height: 100%;
  position: fixed;
  z-index: 1;
  padding-top: 5vh;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 10px;

}

.sidebar {
  margin-top: 2vh;
}

#footer-div {
  border-top: 1px solid black;
  padding: 1vh;
  display: flex;
  justify-content: space-around;
  
  left: 0;
  bottom: 0;
  
  width: 100%;
}

.footer {
  margin: auto;
  padding: 2px;
}

.footer-img {
  height: 25px;
  
}

#home-container {
  border: 1px solid black;
  
}

#resume-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding-top: 80%;
}

#resume {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}